.leftSide {
   display: flex;
   flex-direction: column;
   gap: var(--page-gap);
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
   // .leftSide {
   //    display: none;
   // }
   @media (max-width: 768px) {
      .hide {
         display: none;
      }
   }
}
