.logoSearch {
   display: flex;
   width: 100%;
   gap: var(--page-gap);
   height: var(--navbar-height);

   &:nth-of-type(2) {
      display: none;
   }
}

.logo,
.image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.inputWrap {
   position: relative;
   width: 100%;
}

.searchInput {
   width: 100%;
   height: 100%;
   padding: 4px 12px;
   border-radius: 0.5rem;
   border: none;
   outline: none;
   font-size: 14px;
   background: var(--opacity-bg);
}

.searchBtn {
   position: absolute;
   top: 50%;
   right: 0.5rem;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 28px;
   height: 28px;
   border-radius: 0.3rem;
   color: var(--white);
   background: var(--primary);
   cursor: pointer;

   & > svg {
      width: 20px;
      height: 20px;
   }
}

@media (max-width: 768px) {
   .logoSearch {
      &:nth-of-type(1) {
         display: none;
      }
      &:nth-of-type(2) {
         display: flex;
         flex-direction: column;
         gap: var(--page-gap);
         height: calc(2 * var(--navbar-height) + var(--page-gap));
      }
   }

   .navTop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div:nth-of-type(1) {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: var(--page-gap);

         & > span {
            color: var(--white);
            font-weight: bold;
            font-size: 1.4rem;
         }
      }

      & > div:nth-of-type(2) {
         position: relative;
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: var(--page-gap);
      }
   }

   .menus {
      position: absolute;
      top: 3rem;
      right: 0;
      background: var(--white);
      border-radius: 0.5rem;
      padding: 0.5rem 0;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      z-index: 2;
      color: #333;

      & > div:last-child {
         color: orangered;
      }
   }

   .menuItem {
      cursor: pointer;
      font-size: 16px;
      padding: 0.5rem 1.5rem;

      &:hover {
         background: var(--hover-dark);
      }
   }

   .chatBtn {
      width: 50px;
      height: 34px;
      font-size: 16px;
   }

   .navBottom {
      height: var(--navbar-height);
   }
}
