.image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.chatbox {
   display: grid;
   grid-template-rows: auto 69vh auto;
   background: #fff;
   border-radius: 1rem;
}

// Chat Body
.chatBody {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   gap: 2px;
   overflow: scroll;

   &::-webkit-scrollbar {
      display: none;
   }
}

.chatSendBox {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 0.6rem 1rem;
}

.sendBtn {
   width: 60px;
   height: 40px;
   font-size: 15px;
}

.plusBtn {
   width: 40px;
   height: 40px;
   font-size: 25px;
}

.emptyCurRoom {
   text-align: center;
   font-size: 28px;
   font-weight: bold;
   color: #ddd;
   height: 16vh;
   margin-top: 3vh;
}
