.chatbox {
   display: grid;
   grid-template-rows: var(--chat-header-height) auto var(--send-box-height);
   background: var(--opacity-bg);
   border-radius: 1rem;
}
.chatBoxResize {
   grid-template-rows: var(--chat-header-height) auto calc(
         var(--send-box-height) + var(--send-box-preview-height)
      );
}

.image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

// Chat Body
.chatBody {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   gap: 2px;
   overflow: scroll;
   height: var(--chat-body-height);
   &::-webkit-scrollbar {
      display: none;
   }
}
.chatBodyResize {
   height: calc(var(--chat-body-height) - var(--send-box-preview-height));
}

.chatSendBox {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;

   & > div:nth-of-type(1) {
      position: relative;
      gap: var(--page-gap);
      width: 100%;
      height: var(--send-box-preview-height);
      padding: 0.5rem 1rem;
      background: rgba(255, 255, 255, 0.2);
      overflow-x: scroll;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   & > div:nth-of-type(2) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--send-box-height);
      width: 100%;
      padding: 0rem 1rem;
   }
}

.imagePreview {
   position: relative;
   width: calc(var(--send-box-preview-height) - 1rem);
   height: 100%;
   border-radius: 0.5rem;
   background-size: cover;
   background-position: center;

   &:hover > div {
      cursor: pointer;
      display: flex;
   }

   & > div {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 0.5rem;

      & > svg {
         margin: auto;
         width: 60%;
         height: 60%;
      }
   }
}

.clearAllIcon {
   position: absolute;
   right: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   height: calc(var(--send-box-preview-height) - 1rem);
}

.menus {
   position: absolute;
   bottom: 4rem;
   left: 1rem;
   background: var(--white);
   border-radius: 0.5rem;
   padding: 0.5rem 0;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
   z-index: 3;

   & > div:nth-of-type(4) {
      color: orangered;
   }
}

.menuItem {
   cursor: pointer;
   font-size: 16px;
   padding: 0.5rem 1rem;
   max-width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;

   &:hover {
      background: var(--hover-dark);
   }

   &:nth-of-type(1) {
      position: relative;
      &:hover .copyIcon {
         display: block;
      }
   }
}

.sendBtn {
   width: 60px;
   height: 40px;
   font-size: 15px;
}

.plusBtn {
   width: 40px;
   height: 40px;
   font-size: 25px;
}

.emptyCurRoom {
   text-align: center;
   font-size: 28px;
   font-weight: bold;
   color: #ccc;
   height: 16vh;
   margin-top: 6vh;
   letter-spacing: 2px;
}

.messageEmpty {
   text-align: center;
   font-size: 28px;
   font-weight: bold;
   color: #ccc;
   letter-spacing: 1px;
}
