.message {
   position: relative;
   display: flex;

   & > img {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
   }
}

.own {
   flex-direction: row-reverse;
   align-self: flex-end;
}

.messageContent {
   display: flex;
   flex-direction: column;
   color: var(--white);
   margin: 0px 0.5rem;

   & > span:nth-of-type(1) {
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 0.5rem;
   }
   & > span:nth-of-type(2) {
      font-size: 12px;
      color: #ccc;
      align-self: flex-end;
   }
}

.menus {
   position: absolute;
   top: 0rem;
   left: 1rem;
   background: var(--white);
   border-radius: 0.5rem;
   padding: 0.5rem 0;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
   z-index: 1;

   & > div:last-child {
      color: orangered;
   }
}

.menuItem {
   cursor: pointer;
   font-size: 16px;
   padding: 0.5rem 1.5rem;
   max-width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   &:hover {
      background: var(--hover-dark);
   }

   &:nth-of-type(1) {
      position: relative;
      &:hover .copyIcon {
         display: block;
      }
   }
}
