.room {
   display: flex;
   align-items: center;
   padding: 0.8rem 1rem;
   &:hover {
      background: var(--hover);
      cursor: pointer;
   }
}

.avatar {
   position: relative;
}

.onlineDot {
   position: absolute;
   top: 0%;
   right: 5%;
   width: 10px;
   height: 10px;
   background: greenyellow;
   border-radius: 50%;
}

.image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.roomInfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 0.5rem;

   & > span:nth-of-type(1) {
      font-size: 14px;
      font-weight: bold;
   }

   & > span:nth-of-type(2) {
      font-size: 12px;
   }
}
