.rooms {
   --rooms-header-height: 3rem;
   --rooms-container-height: calc(100% - var(--rooms-header-height));
   --rooms-height: calc(100vh - var(--navbar-height) - 2 * var(--page-padding) - var(--page-gap));

   background: var(--white);
   background: var(--opacity-bg);
   height: var(--rooms-height);
   overflow: hidden;
   border-radius: 1rem;
   &::-webkit-scrollbar {
      display: none;
   }

   & > h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--rooms-header-height);
   }
}
.roomContainer {
   height: var(--rooms-container-height);
   overflow: scroll;
   &::-webkit-scrollbar {
      display: none;
   }
}

@media (max-width: 768px) {
   .rooms {
      --rooms-height: calc(
         100vh - 2 * var(--navbar-height) - 2 * var(--page-padding) - 2 * var(--page-gap)
      );
   }

   .rooms {
      & > h3,
      & > hr {
         display: none;
      }
   }
}
