.rooms {
   text-align: center;
   background: var(--white);
   background: var(--opacity-bg);
   height: 100%;
   overflow: scroll;
   border-radius: 1rem;
   &::-webkit-scrollbar {
      display: none;
   }

   & > h3 {
      padding: 0.8rem 1rem;
   }
}
