.image {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.chatHeader {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   border-bottom: 2px solid #ececec;
}

.curChat {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
}

.avatar {
   position: relative;
}

.onlineDot {
   position: absolute;
   top: 0%;
   right: 5%;
   width: 10px;
   height: 10px;
   background: greenyellow;
   border-radius: 50%;
}

.roomInfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 0.5rem;

   & > span:nth-of-type(1) {
      font-size: 14px;
      font-weight: bold;
   }

   & > span:nth-of-type(2) {
      font-size: 12px;
   }
}

.menus {
   position: absolute;
   top: 60%;
   right: 0;
   background: #fff;
   border-radius: 0.5rem;
   padding: 0.5rem 0;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

   & > div:nth-of-type(3) {
      color: orangered;
   }
}

.menuItem {
   cursor: pointer;
   font-size: 16px;
   padding: 0.5rem 1.5rem;
   max-width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;

   &:hover {
      background: #eee;
   }

   &:nth-of-type(1) {
      position: relative;
      &:hover .copyIcon {
         display: block;
      }
   }
}

.copyIcon {
   display: none;
   position: absolute;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);
   color: #ccc;
}
