* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
}

.App {
   overflow: hidden;
   color: #333;
   background: #f3f3f3
}

hr {
   width: 85%;
   height: 1px;
   border: 0.1px solid #ececec;
   margin: 0px auto;
}

.button {
   width: 30px;
   height: 30px;
   border-radius: 0.5rem;
   color: #fff;
   background: orangered;
   border: 0;
}

.button:hover {
   cursor: pointer;
   background-color: #fff;
   color: #333;
   border: 2px solid orangered;
}