:root {
   --gradient-bg: radial-gradient(#aaa, #f44336,#aaa, #f44336, #333);
   --opacity-bg: rgba(255, 255, 255, 0.7);
   --primary: linear-gradient(120deg, #e51937, orangered);
   --secondary: linear-gradient(180deg, rgb(245, 211, 211), rgb(239, 180, 157));
   --white: #fff;
   --hr: #ececec;
   --border-light: #fff;
   --border-dark: #333; 
   --old: linear-gradient(120deg, rgb(201, 198, 198), rgb(168, 156, 156));
   --hover: #fff;
   --hover-dark: #eee;

   --page-padding: 1rem;
   --page-gap: 1rem;
   --navbar-height: 2.5rem;

   --max-width-modal-normal: 300px;
   --max-width-modal-special: 300px;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Inter', sans-serif;
}

.App {
   overflow: hidden;
   color: #333;
   background: var(--gradient-bg);
}

hr {
   width: 85%;
   height: 1px;
   border: 0.1px solid var(--hr);
   margin: 0px auto;
}

a {
   text-decoration: none;
   color: inherit;
}

.button {
   width: 30px;
   height: 30px;
   border-radius: 0.5rem;
   color: var(--white);
   background: var(--primary);
   border: 2px solid var(--border-light);
}

.button:hover {
   cursor: pointer;
   background: var(--white);
   color: #333;
   border: 2px solid var(--primary);
}

.icon:hover {
   cursor: pointer;
   transform: scale(1.2);
   transition: all ease-in 0.1s;
}